  /* Laptops / Desktops: minimum width of 1024px */
  @media only screen and (min-width: 1024px) {
    body {
      display: flex;
    }

    body > header {
      width: 50%;
      justify-content: flex-end;
    }

    body main {
      padding-top: 140px;
      height: 100%;
      justify-content: flex-end;
      margin-right: 50px;
    }
  } 